@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html, body { height: 100%; width: 100%; margin: 0; }

body {
    background-image: url('assets/cube.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.main {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.9;
    background-color: #111111;
    border-radius: 5px;
    padding: 20px;
}

h1, h2 {
    font-weight: 100;
}

h1#title {
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 25px;
}

p#instructions {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

p {
  line-height: 1.7;
}

/* unvisited link */
a:link {
  color: #1c7da2;
}

/* visited link */
a:visited {
  color: #1c7da2;
}

/* mouse over link */
a:hover {
  color: #f24b83;
}

/* selected link */
a:active {
  color: #00132c;
} 

#obotma_img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#info {
    margin-top: 15px;
}

#warning {
    font-weight: bold;
    color: red;
}

.new {
  font-weight: 100;
  color: #69e5ae;
}